body{
    background-color: silver;
}
.p1{
    text-align: right;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}
.p2{
    text-align: right;
    color: greenyellow;
}
.dropdown button{
    background-color: hsl(0, 0%, 28%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.8);
    display: none;
    border-radius: 5px;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}
.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
}
.dropdown{
    display: inline-block;
}
